<nav>
  <ul>
    <li class="logo"><img src="https://i.imgur.com/E26Pj54.png" /></li>

    <li>
      <a href="#"><i class="fa fa-home"></i>&nbsp; Home</a>
    </li>

    <li>
      <a href="#"><i class="fa fa-book"></i>&nbsp; Eleves</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-users"></i>&nbsp; Associations</a>
    </li>

    <li>
      <a href="#"><i class="fa fa-picture-o"></i>&nbsp; Professeurs</a>
    </li>

    <li>
      <a href="#"><i class="fa fa-phone"></i>&nbsp; Matieres</a>
    </li>
    <li>
      <a href="#"><i class="fa fa-phone"></i>&nbsp; Notes</a>
    </li>
  </ul>
</nav>

<div class="wrapper">
  <div class="section">
    <div class="box-area">
      <h2>Home</h2>
    </div>
  </div>
</div>
